@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
html {
  height: 100%; }

body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: #44957c; }

.App {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #44957c;
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #FFFFFF;
  min-height: 100%;
  max-width: 1000px; }

.Button {
  background-color: #44957c;
  border: 0;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  padding: 1em 2em;
  margin-bottom: 1em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .Button--ghost {
    background-color: transparent;
    border: 1px solid #FFFFFF; }
    .Button--ghost:hover {
      background-color: rgba(255, 255, 255, 0.1); }

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

input {
  background-color: #FFFFFF;
  color: #636668;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 1.2rem;
  margin: 0 1em 1em 0;
  padding: 1em;
  transition: border-color 150ms ease; }

.WordFind {
  display: flex;
  flex-direction: column;
  margin: 2em; }
  .WordFind-config {
    display: flex;
    flex-direction: column;
    margin-top: 1em; }

.WordBank {
  width: 700px; }
  .WordBank-container {
    background-color: #FFFFFF;
    color: #636668;
    padding: 2em;
    display: flex;
    flex-wrap: wrap; }
  .WordBank-word {
    font-size: 1.6em;
    padding: 1em; }
  .WordBank-addContainer {
    display: flex;
    margin: 1em 0; }

.WordPuzzle {
  display: grid;
  justify-content: center;
  background-color: #FFFFFF;
  color: #636668;
  padding: 2em;
  margin: 1em;
  font-size: 2em; }
  .WordPuzzle--seven {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(7, 40px); }
  .WordPuzzle-letter {
    padding: 0 10px; }
